In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [2]:
import pyspark

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Test').getOrCreate()

In [5]:
spark

In [6]:
#Reading a dataset
import pandas as pd

url = "https://raw.githubusercontent.com/ArthurKakande/intellikit/refs/heads/main/examples/datasets/cars-1k.csv"
df = pd.read_csv(url)

df_pyspark = spark.createDataFrame(df)

In [ ]:
df_pyspark

DataFrame[price: bigint, year: bigint, manufacturer: string, make: string, fuel: string, miles: bigint, title_status: string, transmission: string, drive: string, type: string, paint_color: string]

In [ ]:
#Alternative
df_pyspark = spark.read.csv("cars-1k.csv")
df_pyspark = spark.read.option('header', 'true').csv("cars-1k.csv")

In [ ]:
df_pyspark.show()

+-----+----+-------------+------------+------+------+------------+------------+-----+----+-----------+
|price|year| manufacturer|        make|  fuel| miles|title_status|transmission|drive|type|paint_color|
+-----+----+-------------+------------+------+------+------------+------------+-----+----+-----------+
|22168|2011|mercedes-benz|       viano|diesel|203593|     rebuilt|      manual|  fwd| van|      black|
| 9437|2011|         ford|       s-max|diesel|137316|     rebuilt|      manual|  fwd| van|      black|
| 1073|2002|      hyundai|      matrix|   gas|182000|     rebuilt|      manual|  fwd| van|      black|
| 1846|2012|     chrysler|town-country|   gas|122800|       clean|      manual|  fwd| van|      black|
| 3515|2006|         fiat|       doblo|diesel|155623|       clean|      manual|  4wd| van|      black|
| 6624|2008|         seat|    alhambra|diesel|129620|       clean|      manual|  4wd| van|      black|
|36639|2013|mercedes-benz|       viano|diesel| 67000|     rebuilt|      manual|  fwd| van|      black|
|10732|2014|         opel|       combo|diesel| 31447|     rebuilt|      manual|  fwd| van|      black|
|  924|2007|         opel|      vivaro|diesel|122000|       clean|      manual|  rwd| van|      black|
| 5911|2010|        skoda|    roomster|diesel| 55700|       clean|      manual|  rwd| van|      black|
| 3645|2005|         ford|     transit|diesel|185200|       clean|      manual|  4wd| van|      black|
|12916|2005|mercedes-benz|       viano|diesel|205000|       clean|      manual|  rwd| van|      black|
| 8142|2005|mercedes-benz|       viano|diesel|321000|       clean|      manual|  4wd| van|      black|
| 3697|2004|         ford|     transit|diesel|313011|       clean|      manual|  4wd| van|      black|
|12762|2015|         fiat|       doblo|   gas|     1|       clean|      manual|  4wd| van|      black|
| 1665|1998|      citroen|    berlingo|diesel|224000|     rebuilt|      manual|  fwd| van|      black|
|14766|2011|mercedes-benz|        vito|diesel|205000|       clean|      manual|  rwd| van|      black|
|14729|2008|mercedes-benz|       viano|diesel|180000|       clean|      manual|  4wd| van|      black|
| 6658|2014|         ford|      fiesta|diesel| 45550|       clean|      manual|  4wd| van|      black|
|  921|2007|mercedes-benz|        vito|diesel|167000|       clean|      manual|  4wd| van|      black|
+-----+----+-------------+------------+------+------+------------+------------+-----+----+-----------+
only showing top 20 rows

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
#df_pyspark.head(3)
df_pyspark.printSchema()

root
 |-- price: long (nullable = true)
 |-- year: long (nullable = true)
 |-- manufacturer: string (nullable = true)
 |-- make: string (nullable = true)
 |-- fuel: string (nullable = true)
 |-- miles: long (nullable = true)
 |-- title_status: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- drive: string (nullable = true)
 |-- type: string (nullable = true)
 |-- paint_color: string (nullable = true)

In [ ]:
df_pyspark = spark.read.option('header', 'true').csv("cars-1k.csv", inferSchema=True)
df_pyspark = spark.read.csv("cars-1k.csv", header=True, inferSchema=True)
df_pyspark.printSchema()

In [ ]:
df_pyspark.columns

['price',
 'year',
 'manufacturer',
 'make',
 'fuel',
 'miles',
 'title_status',
 'transmission',
 'drive',
 'type',
 'paint_color']

In [ ]:
df_pyspark.select('manufacturer').show()

+-------------+
| manufacturer|
+-------------+
|mercedes-benz|
|         ford|
|      hyundai|
|     chrysler|
|         fiat|
|         seat|
|mercedes-benz|
|         opel|
|         opel|
|        skoda|
|         ford|
|mercedes-benz|
|mercedes-benz|
|         ford|
|         fiat|
|      citroen|
|mercedes-benz|
|mercedes-benz|
|         ford|
|mercedes-benz|
+-------------+
only showing top 20 rows

In [ ]:
df_pyspark.select('manufacturer','price').show()

+-------------+-----+
| manufacturer|price|
+-------------+-----+
|mercedes-benz|22168|
|         ford| 9437|
|      hyundai| 1073|
|     chrysler| 1846|
|         fiat| 3515|
|         seat| 6624|
|mercedes-benz|36639|
|         opel|10732|
|         opel|  924|
|        skoda| 5911|
|         ford| 3645|
|mercedes-benz|12916|
|mercedes-benz| 8142|
|         ford| 3697|
|         fiat|12762|
|      citroen| 1665|
|mercedes-benz|14766|
|mercedes-benz|14729|
|         ford| 6658|
|mercedes-benz|  921|
+-------------+-----+
only showing top 20 rows

In [ ]:
df_pyspark.dtypes

[('price', 'bigint'),
 ('year', 'bigint'),
 ('manufacturer', 'string'),
 ('make', 'string'),
 ('fuel', 'string'),
 ('miles', 'bigint'),
 ('title_status', 'string'),
 ('transmission', 'string'),
 ('drive', 'string'),
 ('type', 'string'),
 ('paint_color', 'string')]

In [ ]:
df_pyspark.describe().show()

+-------+------------------+-----------------+------------+------------------+------+------------------+------------+------------+-----+-------+-----------+
|summary|             price|             year|manufacturer|              make|  fuel|             miles|title_status|transmission|drive|   type|paint_color|
+-------+------------------+-----------------+------------+------------------+------+------------------+------------+------------+-----+-------+-----------+
|  count|               999|              999|         999|               999|   999|               999|         999|         999|  999|    999|        999|
|   mean|  4788.93993993994|1974.998998998999|        NULL|159.47368421052633|  NULL| 383829.9219219219|        NULL|        NULL| NULL|   NULL|       NULL|
| stddev|5483.6737660387025|153.6571183480839|        NULL|143.38207073299424|  NULL|1124622.7757499816|        NULL|        NULL| NULL|   NULL|       NULL|
|    min|                37|               65|        audi|               100|diesel|                 0|       clean|      manual|  4wd|compact|      black|
|    max|             73501|             2015|       volvo|            zafira|   gas|           9202165|     rebuilt|      manual|  rwd|    van|      black|
+-------+------------------+-----------------+------------+------------------+------+------------------+------------+------------+-----+-------+-----------+

In [ ]:
df_pyspark = df_pyspark.withColumn('price_in_euros', df_pyspark['price']*1.49)

In [ ]:
df_pyspark.show()

+-----+----+-------------+------------+------+------+------------+------------+-----+----+-----------+--------------+
|price|year| manufacturer|        make|  fuel| miles|title_status|transmission|drive|type|paint_color|price_in_euros|
+-----+----+-------------+------------+------+------+------------+------------+-----+----+-----------+--------------+
|22168|2011|mercedes-benz|       viano|diesel|203593|     rebuilt|      manual|  fwd| van|      black|      33030.32|
| 9437|2011|         ford|       s-max|diesel|137316|     rebuilt|      manual|  fwd| van|      black|      14061.13|
| 1073|2002|      hyundai|      matrix|   gas|182000|     rebuilt|      manual|  fwd| van|      black|       1598.77|
| 1846|2012|     chrysler|town-country|   gas|122800|       clean|      manual|  fwd| van|      black|       2750.54|
| 3515|2006|         fiat|       doblo|diesel|155623|       clean|      manual|  4wd| van|      black|       5237.35|
| 6624|2008|         seat|    alhambra|diesel|129620|       clean|      manual|  4wd| van|      black|       9869.76|
|36639|2013|mercedes-benz|       viano|diesel| 67000|     rebuilt|      manual|  fwd| van|      black|      54592.11|
|10732|2014|         opel|       combo|diesel| 31447|     rebuilt|      manual|  fwd| van|      black|      15990.68|
|  924|2007|         opel|      vivaro|diesel|122000|       clean|      manual|  rwd| van|      black|       1376.76|
| 5911|2010|        skoda|    roomster|diesel| 55700|       clean|      manual|  rwd| van|      black|       8807.39|
| 3645|2005|         ford|     transit|diesel|185200|       clean|      manual|  4wd| van|      black|       5431.05|
|12916|2005|mercedes-benz|       viano|diesel|205000|       clean|      manual|  rwd| van|      black|      19244.84|
| 8142|2005|mercedes-benz|       viano|diesel|321000|       clean|      manual|  4wd| van|      black|      12131.58|
| 3697|2004|         ford|     transit|diesel|313011|       clean|      manual|  4wd| van|      black|       5508.53|
|12762|2015|         fiat|       doblo|   gas|     1|       clean|      manual|  4wd| van|      black|      19015.38|
| 1665|1998|      citroen|    berlingo|diesel|224000|     rebuilt|      manual|  fwd| van|      black|       2480.85|
|14766|2011|mercedes-benz|        vito|diesel|205000|       clean|      manual|  rwd| van|      black|      22001.34|
|14729|2008|mercedes-benz|       viano|diesel|180000|       clean|      manual|  4wd| van|      black|      21946.21|
| 6658|2014|         ford|      fiesta|diesel| 45550|       clean|      manual|  4wd| van|      black|       9920.42|
|  921|2007|mercedes-benz|        vito|diesel|167000|       clean|      manual|  4wd| van|      black|       1372.29|
+-----+----+-------------+------------+------+------+------------+------------+-----+----+-----------+--------------+
only showing top 20 rows

In [ ]:
df_pyspark = df_pyspark.drop('price_in_euros')

In [ ]:
df_pyspark.show()

+-----+----+-------------+------------+------+------+------------+------------+-----+----+-----------+
|price|year| manufacturer|        make|  fuel| miles|title_status|transmission|drive|type|paint_color|
+-----+----+-------------+------------+------+------+------------+------------+-----+----+-----------+
|22168|2011|mercedes-benz|       viano|diesel|203593|     rebuilt|      manual|  fwd| van|      black|
| 9437|2011|         ford|       s-max|diesel|137316|     rebuilt|      manual|  fwd| van|      black|
| 1073|2002|      hyundai|      matrix|   gas|182000|     rebuilt|      manual|  fwd| van|      black|
| 1846|2012|     chrysler|town-country|   gas|122800|       clean|      manual|  fwd| van|      black|
| 3515|2006|         fiat|       doblo|diesel|155623|       clean|      manual|  4wd| van|      black|
| 6624|2008|         seat|    alhambra|diesel|129620|       clean|      manual|  4wd| van|      black|
|36639|2013|mercedes-benz|       viano|diesel| 67000|     rebuilt|      manual|  fwd| van|      black|
|10732|2014|         opel|       combo|diesel| 31447|     rebuilt|      manual|  fwd| van|      black|
|  924|2007|         opel|      vivaro|diesel|122000|       clean|      manual|  rwd| van|      black|
| 5911|2010|        skoda|    roomster|diesel| 55700|       clean|      manual|  rwd| van|      black|
| 3645|2005|         ford|     transit|diesel|185200|       clean|      manual|  4wd| van|      black|
|12916|2005|mercedes-benz|       viano|diesel|205000|       clean|      manual|  rwd| van|      black|
| 8142|2005|mercedes-benz|       viano|diesel|321000|       clean|      manual|  4wd| van|      black|
| 3697|2004|         ford|     transit|diesel|313011|       clean|      manual|  4wd| van|      black|
|12762|2015|         fiat|       doblo|   gas|     1|       clean|      manual|  4wd| van|      black|
| 1665|1998|      citroen|    berlingo|diesel|224000|     rebuilt|      manual|  fwd| van|      black|
|14766|2011|mercedes-benz|        vito|diesel|205000|       clean|      manual|  rwd| van|      black|
|14729|2008|mercedes-benz|       viano|diesel|180000|       clean|      manual|  4wd| van|      black|
| 6658|2014|         ford|      fiesta|diesel| 45550|       clean|      manual|  4wd| van|      black|
|  921|2007|mercedes-benz|        vito|diesel|167000|       clean|      manual|  4wd| van|      black|
+-----+----+-------------+------------+------+------+------------+------------+-----+----+-----------+
only showing top 20 rows

In [8]:
df_pyspark.withColumnRenamed('manufacturer', 'brand').show()

+-----+----+-------------+------------+------+------+------------+------------+-----+----+-----------+
|price|year|        brand|        make|  fuel| miles|title_status|transmission|drive|type|paint_color|
+-----+----+-------------+------------+------+------+------------+------------+-----+----+-----------+
|22168|2011|mercedes-benz|       viano|diesel|203593|     rebuilt|      manual|  fwd| van|      black|
| 9437|2011|         ford|       s-max|diesel|137316|     rebuilt|      manual|  fwd| van|      black|
| 1073|2002|      hyundai|      matrix|   gas|182000|     rebuilt|      manual|  fwd| van|      black|
| 1846|2012|     chrysler|town-country|   gas|122800|       clean|      manual|  fwd| van|      black|
| 3515|2006|         fiat|       doblo|diesel|155623|       clean|      manual|  4wd| van|      black|
| 6624|2008|         seat|    alhambra|diesel|129620|       clean|      manual|  4wd| van|      black|
|36639|2013|mercedes-benz|       viano|diesel| 67000|     rebuilt|      manual|  fwd| van|      black|
|10732|2014|         opel|       combo|diesel| 31447|     rebuilt|      manual|  fwd| van|      black|
|  924|2007|         opel|      vivaro|diesel|122000|       clean|      manual|  rwd| van|      black|
| 5911|2010|        skoda|    roomster|diesel| 55700|       clean|      manual|  rwd| van|      black|
| 3645|2005|         ford|     transit|diesel|185200|       clean|      manual|  4wd| van|      black|
|12916|2005|mercedes-benz|       viano|diesel|205000|       clean|      manual|  rwd| van|      black|
| 8142|2005|mercedes-benz|       viano|diesel|321000|       clean|      manual|  4wd| van|      black|
| 3697|2004|         ford|     transit|diesel|313011|       clean|      manual|  4wd| van|      black|
|12762|2015|         fiat|       doblo|   gas|     1|       clean|      manual|  4wd| van|      black|
| 1665|1998|      citroen|    berlingo|diesel|224000|     rebuilt|      manual|  fwd| van|      black|
|14766|2011|mercedes-benz|        vito|diesel|205000|       clean|      manual|  rwd| van|      black|
|14729|2008|mercedes-benz|       viano|diesel|180000|       clean|      manual|  4wd| van|      black|
| 6658|2014|         ford|      fiesta|diesel| 45550|       clean|      manual|  4wd| van|      black|
|  921|2007|mercedes-benz|        vito|diesel|167000|       clean|      manual|  4wd| van|      black|
+-----+----+-------------+------------+------+------+------------+------------+-----+----+-----------+
only showing top 20 rows

In [10]:
df_pyspark.na.drop().show() #dropping all rows with missing values
df_pyspark.na.drop(how='any').show() #dropping all rows with missing values for any rows
df_pyspark.na.drop(how='all').show() #dropping all rows with missing values for all
df_pyspark.na.drop(thresh=2).show() #dropping all rows with missing values for 2 or more rows
df_pyspark.na.drop(subset=['price']).show() #dropping all rows with missing values for price
df_pyspark.na.fill(0).show() #filling all missing values with 0
df_pyspark.na.fill(0, ['price']).show() #filling all missing values for price with 0
df_pyspark.na.fill('Missing').show() #filling all missing values with Missing
df_pyspark.na.fill('Missing', ['manufacturer']).show() #filling all missing values for manufacturer with Mssing

from pyspark.ml.feature import Imputer
imputer = Imputer(
    inputCols=['price'],
    outputCols=["{}_imputed".format(c) for c in ['price']]
).setStrategy("mean")

imputer.fit(df_pyspark).transform(df_pyspark).show() #adds a column with replaced nulls with mean of Price

+-----+----+-------------+------------+------+------+------------+------------+-----+----+-----------+
|price|year| manufacturer|        make|  fuel| miles|title_status|transmission|drive|type|paint_color|
+-----+----+-------------+------------+------+------+------------+------------+-----+----+-----------+
|22168|2011|mercedes-benz|       viano|diesel|203593|     rebuilt|      manual|  fwd| van|      black|
| 9437|2011|         ford|       s-max|diesel|137316|     rebuilt|      manual|  fwd| van|      black|
| 1073|2002|      hyundai|      matrix|   gas|182000|     rebuilt|      manual|  fwd| van|      black|
| 1846|2012|     chrysler|town-country|   gas|122800|       clean|      manual|  fwd| van|      black|
| 3515|2006|         fiat|       doblo|diesel|155623|       clean|      manual|  4wd| van|      black|
| 6624|2008|         seat|    alhambra|diesel|129620|       clean|      manual|  4wd| van|      black|
|36639|2013|mercedes-benz|       viano|diesel| 67000|     rebuilt|      manual|  fwd| van|      black|
|10732|2014|         opel|       combo|diesel| 31447|     rebuilt|      manual|  fwd| van|      black|
|  924|2007|         opel|      vivaro|diesel|122000|       clean|      manual|  rwd| van|      black|
| 5911|2010|        skoda|    roomster|diesel| 55700|       clean|      manual|  rwd| van|      black|
| 3645|2005|         ford|     transit|diesel|185200|       clean|      manual|  4wd| van|      black|
|12916|2005|mercedes-benz|       viano|diesel|205000|       clean|      manual|  rwd| van|      black|
| 8142|2005|mercedes-benz|       viano|diesel|321000|       clean|      manual|  4wd| van|      black|
| 3697|2004|         ford|     transit|diesel|313011|       clean|      manual|  4wd| van|      black|
|12762|2015|         fiat|       doblo|   gas|     1|       clean|      manual|  4wd| van|      black|
| 1665|1998|      citroen|    berlingo|diesel|224000|     rebuilt|      manual|  fwd| van|      black|
|14766|2011|mercedes-benz|        vito|diesel|205000|       clean|      manual|  rwd| van|      black|
|14729|2008|mercedes-benz|       viano|diesel|180000|       clean|      manual|  4wd| van|      black|
| 6658|2014|         ford|      fiesta|diesel| 45550|       clean|      manual|  4wd| van|      black|
|  921|2007|mercedes-benz|        vito|diesel|167000|       clean|      manual|  4wd| van|      black|
+-----+----+-------------+------------+------+------+------------+------------+-----+----+-----------+
only showing top 20 rows

In [12]:
df_pyspark.filter("price<=20000").show()
df_pyspark.filter("price<=20000").select(['manufacturer', 'price']).show()

+-------------+-----+
| manufacturer|price|
+-------------+-----+
|         ford| 9437|
|      hyundai| 1073|
|     chrysler| 1846|
|         fiat| 3515|
|         seat| 6624|
|         opel|10732|
|         opel|  924|
|        skoda| 5911|
|         ford| 3645|
|mercedes-benz|12916|
|mercedes-benz| 8142|
|         ford| 3697|
|         fiat|12762|
|      citroen| 1665|
|mercedes-benz|14766|
|mercedes-benz|14729|
|         ford| 6658|
|mercedes-benz|  921|
|         ford| 2549|
|         opel| 4404|
+-------------+-----+
only showing top 20 rows

In [13]:
df_pyspark.filter((df_pyspark['price']<=20000) & (df_pyspark['price']>=10000)).show()

+-----+----+-------------+-------------+------+-------+------------+------------+-----+-------+-----------+
|price|year| manufacturer|         make|  fuel|  miles|title_status|transmission|drive|   type|paint_color|
+-----+----+-------------+-------------+------+-------+------------+------------+-----+-------+-----------+
|10732|2014|         opel|        combo|diesel|  31447|     rebuilt|      manual|  fwd|    van|      black|
|12916|2005|mercedes-benz|        viano|diesel| 205000|       clean|      manual|  rwd|    van|      black|
|12762|2015|         fiat|        doblo|   gas|      1|       clean|      manual|  4wd|    van|      black|
|14766|2011|mercedes-benz|         vito|diesel| 205000|       clean|      manual|  rwd|    van|      black|
|14729|2008|mercedes-benz|        viano|diesel| 180000|       clean|      manual|  4wd|    van|      black|
|10658|2010|       nissan|      qashqai|   gas| 180000|       clean|      manual|  rwd|compact|      black|
|11839|2012|         seat|        altea|diesel| 137800|       clean|      manual|  fwd|compact|      black|
|10729|2012|         opel|     insignia|   gas| 152000|     rebuilt|      manual|  fwd|compact|      black|
|15166|1995|          bmw|           x1|   gas| 151000|       clean|      manual|  4wd|compact|      black|
|12028|2010|mercedes-benz|         vito|   gas|  76411|     rebuilt|      manual|  fwd|compact|      black|
|13686|2011|       subaru|      outback|diesel|6024800|       clean|      manual|  rwd|compact|      black|
|10621|2012|       toyota|        auris|   gas| 122179|       clean|      manual|  4wd|compact|      black|
|16247|2008|          bmw|           x5|   gas| 208000|       clean|      manual|  4wd|compact|      black|
|15725|2010|         audi|           a5|diesel| 139000|       clean|      manual|  fwd|compact|      black|
|11695|2012|        skoda|       superb|diesel| 169000|     rebuilt|      manual|  fwd|compact|      black|
|14063|2012|        skoda|       superb|   gas|  70000|       clean|      manual|  rwd|compact|      black|
|15136|2011|        skoda|       superb|   gas|  60500|       clean|      manual|  rwd|compact|      black|
|11880|2009|     chrysler|grand-voyager|diesel| 187500|       clean|      manual|  rwd|compact|      black|
|11065|2008|         audi|   a6-allroad|diesel| 282000|       clean|      manual|  4wd|compact|      black|
|11435|2010|        skoda|       superb|diesel| 187756|       clean|      manual|  4wd|compact|      black|
+-----+----+-------------+-------------+------+-------+------------+------------+-----+-------+-----------+
only showing top 20 rows

In [14]:
df_pyspark.filter(~(df_pyspark['price']<=20000)).show() #not

+-----+----+-------------+--------------+------+------+------------+------------+-----+-------+-----------+
|price|year| manufacturer|          make|  fuel| miles|title_status|transmission|drive|   type|paint_color|
+-----+----+-------------+--------------+------+------+------------+------------+-----+-------+-----------+
|22168|2011|mercedes-benz|         viano|diesel|203593|     rebuilt|      manual|  fwd|    van|      black|
|36639|2013|mercedes-benz|         viano|diesel| 67000|     rebuilt|      manual|  fwd|    van|      black|
|29977|2012|mercedes-benz|         viano|diesel| 91000|     rebuilt|      manual|  fwd|    van|      black|
|29570|2009|      porsche|       cayenne|   gas|139000|       clean|      manual|  rwd|compact|      black|
|30347|2011|          bmw|            z4|   gas| 69000|       clean|      manual|  4wd|compact|      black|
|22945|2011|          bmw|            x5|   gas|109521|       clean|      manual|  rwd|compact|      black|
|25499|2008|          bmw|            x5|   gas|190000|     rebuilt|      manual|  fwd|compact|      black|
|22168|2008|          bmw|            x6|   gas|119000|       clean|      manual|  4wd|compact|      black|
|21761|2010|         audi|            a5|   gas|127000|       clean|      manual|  rwd|compact|      black|
|25869|2014|         ford|        galaxy|diesel| 32000|     rebuilt|      manual|  fwd|compact|      black|
|20355|2009|          bmw|            x6|   gas|109400|       clean|      manual|  fwd|compact|      black|
|21002|2012|       nissan|        navara|   gas|137000|       clean|      manual|  4wd|compact|      black|
|54700|2009|      porsche|      panamera|   gas|157000|       clean|      manual|  rwd|compact|      black|
|23685|2013|        skoda|        superb|diesel| 51000|       clean|      manual|  4wd|compact|      black|
|22131|2011|         jeep|grand-cherokee|   gas|183315|       clean|      manual|  4wd|compact|      black|
|22279|2011|          bmw|            x3|diesel|195000|     rebuilt|      manual|  fwd|compact|      black|
|23649|2012|         audi|            q3|   gas|   100|     rebuilt|      manual|  fwd|compact|      black|
|42190|2011|        volvo|           460|   gas|608000|     rebuilt|      manual|  fwd|compact|      black|
|24056|2011|         audi|            q5|   gas|159300|     rebuilt|      manual|  fwd|compact|      black|
|51776|2013|         audi|            a6|diesel| 44353|       clean|      manual|  rwd|compact|      black|
+-----+----+-------------+--------------+------+------+------------+------------+-----+-------+-----------+
only showing top 20 rows

In [16]:
#df_pyspark.groupby('manufacturer').sum().show()
df_pyspark.groupby('manufacturer').count().show()

+-------------+-----+
| manufacturer|count|
+-------------+-----+
|       jaguar|    5|
|   mitsubishi|    6|
|        lexus|    1|
|       toyota|   25|
|         seat|   41|
|     chrysler|    6|
|      citroen|   58|
|         audi|   77|
|          bmw|   20|
|         jeep|    4|
|       lancia|    3|
|        skoda|  322|
|        rover|    5|
|      hyundai|   21|
|         ford|  159|
|        mazda|   18|
|          kia|    9|
|mercedes-benz|   14|
|      porsche|    3|
|    chevrolet|    6|
+-------------+-----+
only showing top 20 rows

In [18]:
df_pyspark.agg({'price': 'sum'}).show()

+----------+
|sum(price)|
+----------+
|   4784151|
+----------+

In [19]:
from pyspark.ml.feature import VectorAssembler
featureassembler = VectorAssembler(inputCols=['year', 'miles'], outputCol='Independent Features')
output = featureassembler.transform(df_pyspark)
output.show()

+-----+----+-------------+------------+------+------+------------+------------+-----+----+-----------+--------------------+
|price|year| manufacturer|        make|  fuel| miles|title_status|transmission|drive|type|paint_color|Independent Features|
+-----+----+-------------+------------+------+------+------------+------------+-----+----+-----------+--------------------+
|22168|2011|mercedes-benz|       viano|diesel|203593|     rebuilt|      manual|  fwd| van|      black|   [2011.0,203593.0]|
| 9437|2011|         ford|       s-max|diesel|137316|     rebuilt|      manual|  fwd| van|      black|   [2011.0,137316.0]|
| 1073|2002|      hyundai|      matrix|   gas|182000|     rebuilt|      manual|  fwd| van|      black|   [2002.0,182000.0]|
| 1846|2012|     chrysler|town-country|   gas|122800|       clean|      manual|  fwd| van|      black|   [2012.0,122800.0]|
| 3515|2006|         fiat|       doblo|diesel|155623|       clean|      manual|  4wd| van|      black|   [2006.0,155623.0]|
| 6624|2008|         seat|    alhambra|diesel|129620|       clean|      manual|  4wd| van|      black|   [2008.0,129620.0]|
|36639|2013|mercedes-benz|       viano|diesel| 67000|     rebuilt|      manual|  fwd| van|      black|    [2013.0,67000.0]|
|10732|2014|         opel|       combo|diesel| 31447|     rebuilt|      manual|  fwd| van|      black|    [2014.0,31447.0]|
|  924|2007|         opel|      vivaro|diesel|122000|       clean|      manual|  rwd| van|      black|   [2007.0,122000.0]|
| 5911|2010|        skoda|    roomster|diesel| 55700|       clean|      manual|  rwd| van|      black|    [2010.0,55700.0]|
| 3645|2005|         ford|     transit|diesel|185200|       clean|      manual|  4wd| van|      black|   [2005.0,185200.0]|
|12916|2005|mercedes-benz|       viano|diesel|205000|       clean|      manual|  rwd| van|      black|   [2005.0,205000.0]|
| 8142|2005|mercedes-benz|       viano|diesel|321000|       clean|      manual|  4wd| van|      black|   [2005.0,321000.0]|
| 3697|2004|         ford|     transit|diesel|313011|       clean|      manual|  4wd| van|      black|   [2004.0,313011.0]|
|12762|2015|         fiat|       doblo|   gas|     1|       clean|      manual|  4wd| van|      black|        [2015.0,1.0]|
| 1665|1998|      citroen|    berlingo|diesel|224000|     rebuilt|      manual|  fwd| van|      black|   [1998.0,224000.0]|
|14766|2011|mercedes-benz|        vito|diesel|205000|       clean|      manual|  rwd| van|      black|   [2011.0,205000.0]|
|14729|2008|mercedes-benz|       viano|diesel|180000|       clean|      manual|  4wd| van|      black|   [2008.0,180000.0]|
| 6658|2014|         ford|      fiesta|diesel| 45550|       clean|      manual|  4wd| van|      black|    [2014.0,45550.0]|
|  921|2007|mercedes-benz|        vito|diesel|167000|       clean|      manual|  4wd| van|      black|   [2007.0,167000.0]|
+-----+----+-------------+------------+------+------+------------+------------+-----+----+-----------+--------------------+
only showing top 20 rows

In [20]:
finaldf = output.select('Independent Features', 'price')
finaldf.show()

+--------------------+-----+
|Independent Features|price|
+--------------------+-----+
|   [2011.0,203593.0]|22168|
|   [2011.0,137316.0]| 9437|
|   [2002.0,182000.0]| 1073|
|   [2012.0,122800.0]| 1846|
|   [2006.0,155623.0]| 3515|
|   [2008.0,129620.0]| 6624|
|    [2013.0,67000.0]|36639|
|    [2014.0,31447.0]|10732|
|   [2007.0,122000.0]|  924|
|    [2010.0,55700.0]| 5911|
|   [2005.0,185200.0]| 3645|
|   [2005.0,205000.0]|12916|
|   [2005.0,321000.0]| 8142|
|   [2004.0,313011.0]| 3697|
|        [2015.0,1.0]|12762|
|   [1998.0,224000.0]| 1665|
|   [2011.0,205000.0]|14766|
|   [2008.0,180000.0]|14729|
|    [2014.0,45550.0]| 6658|
|   [2007.0,167000.0]|  921|
+--------------------+-----+
only showing top 20 rows

In [21]:
from pyspark.ml.regression import LinearRegression
train_data, test_data = finaldf.randomSplit([0.75, 0.25])
regress = LinearRegression(featuresCol='Independent Features', labelCol='price')
lr_model = regress.fit(train_data)

In [22]:
lr_model.coefficients

DenseVector([2.416, -0.0002])

In [23]:
lr_model.intercept

204.29397825444633

In [24]:
test_pred = lr_model.evaluate(test_data)

In [25]:
results = test_pred.predictions
results.show()

+--------------------+-----+------------------+
|Independent Features|price|        prediction|
+--------------------+-----+------------------+
|    [327.0,182000.0]| 3145| 959.1867929186764|
|     [1000.0,1000.0]| 2960|2620.1308554097714|
|   [1061.0,106150.0]| 2179|2747.2014494687405|
|  [1320.0,4132000.0]| 1073|2595.4554869009676|
|   [1430.0,143000.0]| 1332|3631.5998146076736|
|   [1560.0,156000.0]| 7949|3943.1730724579666|
|   [1720.0,148381.0]| 6476| 4331.209302712953|
|   [1798.0,141000.0]| 6624|4521.0851086078255|
|   [1910.0,221804.0]| 4774| 4776.075087067684|
|   [1970.0,197000.0]| 4030| 4925.827193370431|
|   [1996.0,261000.0]| 1850| 4976.283886786193|
|   [1998.0,267105.0]| 1291|4979.9369104001835|
|   [1998.0,300000.0]| 1480| 4973.584018975337|
|    [1999.0,81000.0]| 1424| 5018.294720571531|
|   [1999.0,136000.0]| 1184| 5007.672771084784|
|      [2000.0,200.0]| 2202|5036.3153600028445|
|   [2000.0,102000.0]| 1443| 5016.655097134647|
|   [2000.0,161000.0]| 1476| 5005.260642230682|
|   [2000.0,198000.0]| 2590| 4998.114967121415|
|   [2000.0,205000.0]| 2405| 4996.763082641283|
+--------------------+-----+------------------+
only showing top 20 rows

In [28]:
test_pred.meanSquaredError, test_pred.meanAbsoluteError

(14554645.613484545, 3008.0896229916166)

In [ ]:
from pyspark.ml.feature import StringIndexer
indexer = StringIndexer(inputCols=['manufacturer', 'model'], outputCols=['manufacturer_index', 'model_index'])
df_pyspark = indexer.fit(df_pyspark).transform(df_pyspark)
df_pyspark.show()